body {
    margin: 60px auto;
    width: 70%;
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
   
p.inset {border-style: inset;}


}
.dark-mode {
  background-color: black;
  color: white;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Calibri', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Calibri', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.layered-paper {
    background: #eee;
    box-shadow:
        0 1px 1px rgba(0,0,0,0.15), /* The top layer shadow */
        0 10px 0 -5px #eee, /* The second layer */
        0 10px 1px -4px rgba(0,0,0,0.15), /* The second layer shadow */
        0 20px 0 -10px #eee, /* The third layer */
        0 20px 1px -9px rgba(0,0,0,0.15); /* The third layer shadow */
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .1em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .1em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  30% { border-color: orange; }
}

/* DONT NEEDED */
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
  -webkit-font-smoothing: subpixel-antialiased;
}

.wrapper {
  display: table;
  width: 100vw;
  height: 100vh;
}
  .content {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
ul {
  margin-top: 7em;
  list-style-type: none;
}
  li {
    margin-top: 7em;
  }

a,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}
h2 {
  color: #fff;
  background-color: #eb2019;
  padding: .5em 0;
}
  .author {
    color: #e7e7e7;
    margin-left: 1em;
    padding-bottom: 3px;
    border-bottom: 2px dashed #d7d7d7;
  }

/* CHECKBOX */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 4em;
  padding-top: .25em;
  cursor: pointer;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
  height: 1.5em;
  transition: all .5s ease;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  left: 0;
  top: 0;
  width: 3em;
  border: 2px solid #dddddd;
  background: #dddddd;
  border-radius: 1.1em;
  z-index: -1;
}
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  left: .15em;
  top: .125em;
  background-color: #fff;
  border-radius: 50%;
  width: 1.5em;
}
  [type="checkbox"]:checked + label:after {
    left: 1.65em;
  }
  [type="checkbox"]:checked + label:before {
    background-color: #72da67;
    border-color: #72da67;
  }
