<!DOCTYPE html>
	<html>
		<head>
		<meta charset="utf-8">
		<mdta http-equiv="X-UA-Compatible content="IE=edge">
								   
								   
			<title>Tooz Hsu</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>				
				<br><img src = "toozhsu.github.io/img/0.jpeg"><br/>
				<br><br/>
				<br>

	        		<li><a href="#cestmoi">C'est moi</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/aaand">aaand</a></li>

	    		</ul>
			</nav>
			
			<div class="trigger">
			<h2><a name="cestmoi">Tooz </a></h2><br></br>
					     </div>
					     <p></p>
			<p>Hailing from Taiwan, Yu-chuan 'Tooz' Hsu is a poject manager and freelance translator/ interpreter. </p>
					     <p>🙃🙃🙃</p>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:tooztooz@gmail.com">email</a></li>
	        		<li><a href="https://github.com/toozhsu">github.com/toozhsu</a></li>
				</ul>
			</footer>
		</body>
		  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-141279064-1"></script>
	<!-- link to main stylesheet -->
	</html>
