

<!DOCTYPE html>
	<html>		
		<head>
		<meta charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Tooz Hsu</title>
		<link href="data:image/x-icon;base64,AAABAAEAICAAAAEAGACoDAAAFgAAACgAAAAgAAAAQAAAAAEAGAAAAAAAqAwAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/
m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2MAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD/
m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/
m2P/m2P/m2P/m2MAAAAAAAAAAAAAAAAAAAAAAAD/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/
m2P/m2P/m2P/m2P/m2O6e9e6e9e6e9f/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2MAAAAA
AAAAAAAAAAAAAAD/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2O6e9e6e9e6e9e6e9e6e9e6e9e6
e9e6e9f/m2P/m2P/m2P/m2O6e9e6e9e6e9e6e9f/m2P/m2P/m2MAAAAAAAAAAAAAAAD/m2P/m2P/
m2P/m2P/m2O6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9f/m2P/m2P/m2P/m2O6
e9e6e9e6e9e6e9f/m2P/m2P/m2P/m2MAAAAAAAAAAAD/m2P/m2P/m2O6e9e6e9e6e9e6e9e6e9e6
e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9f/m2P/m2P/m2P/m2O6e9e6e9e6e9e6e9e6e9f/m2P/
m2P/m2P/m2P/m2MAAAD/m2P/m2P/m2O6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6
e9e6e9e6e9f/m2P/m2P/m2P/m2O6e9e6e9e6e9e6e9e6e9e6e9f/m2P/m2P/m2P/m2MAAAD/m2P/
m2P/m2O6e9e6e9e6e9e6e9cwvmowvmowvmq6e9e6e9e6e9e6e9e6e9e6e9e6e9f/m2P/m2P/m2O6
e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9f/m2P/m2P/m2MAAAD/m2P/m2P/m2O6e9e6e9e6e9e6e9cw
vmowvmowvmq6e9dulDdulDdQ5Zm6e9e6e9e6e9f/m2P/m2P/m2O6e9e6e9e6e9e6e9e6e9e6e9e6
e9e6e9e6e9f/m2P/m2MAAAD/m2P/m2P/m2O6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9dulDdulDdQ
5Zm6e9e6e9e6e9f/m2P/m2P/m2O6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9f/m2MAAAD/
m2P/m2P/m2O6e9dQ5ZlQ5ZlQ5Zm6e9e6e9e6e9e6e9dQ5ZlQ5ZlQ5Zm6e9e6e9e6e9f/m2P/m2P/
m2O6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9f/m2P/m2P/m2P/m2P/m2O6e9dulDdulDdQ
5Zm6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9f/m2P/m2P/m2O6e9e6e9e6e9e6e9e6e9e6
e9e6e9e6e9e6e9e6e9f/m2P/m2P/m2P/m2P/m2O6e9dulDdulDdQ5Zm6e9e6e9e6e9e6e9e6e9e6
e9e6e9e6e9e6e9f/m2P/m2P/m2P/m2P/m2O6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9f/m2P/m2P/
m2P/m2O6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9f/m2P/m2P/m2P/m2P/m2P/m2P/
m2P/m2P/m2P/m2O6e9e6e9e6e9e6e9e6e9e6e9e6e9f/m2P/m2P/m2P/m2O6e9e6e9e6e9e6e9e6
e9e6e9e6e9e6e9f/m2P/m2P/m2P/m2P/m2P/m2P/m2O6e9e6e9e6e9f/m2P/m2P/m2P/m2O6e9e6
e9e6e9e6e9e6e9e6e9f/m2P/m2P/m2P/m2O6e9e6e9e6e9e6e9f/m2P/m2P/m2P/m2P/m2P/m2P/
m2P/m2P/m2O6e9e6e9e6e9e6e9e6e9e6e9f/m2P/m2P/m2P/m2O6e9e6e9e6e9e6e9e6e9f/m2P/
m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2O6e9e6e9e6e9e6e9e6e9e6
e9e6e9e6e9e6e9f/m2P/m2P/m2P/m2O6e9e6e9e6e9e6e9f/m2P/m2P/m2P/m2P/m2P/m2P/m2P/
m2P/m2P/m2P/m2P/m2P/m2O6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9f/m2P/
m2P/m2P/m2O6e9e6e9e6e9f/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2O6e9e6e9e6e9e6e9e6
e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9f/m2P/m2P/m2P/m2P/m2P/
m2P/m2P/m2P/m2P/m2O6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6
e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9f/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2O6e9e6
e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6
e9e6e9e6e9e6e9e6e9f/m2P/m2P/m2P/m2P/m2P/m2P/m2O6e9e6e9e6e9e6e9e6e9e6e9e6e9e6
e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9f/m2P/
m2P/m2P/m2MAAAD/m2P/m2P/m2P/m2P/m2P/m2O6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6
e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9f/m2P/m2P/m2P/m2MAAAAAAAD/m2P/
m2P/m2P/m2P/m2O6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6
e9e6e9e6e9e6e9f/m2P/m2P/m2P/m2P/m2P/m2MAAAAAAAAAAAAAAAD/m2P/m2P/m2P/m2P/m2P/
m2O6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9f/m2P/m2P/m2P/m2P/
m2P/m2P/m2P/m2MAAAAAAAAAAAAAAAAAAAD/m2P/m2P/m2P/m2P/m2P/m2O6e9e6e9e6e9e6e9e6
e9e6e9e6e9e6e9e6e9e6e9e6e9f/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2MAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAD/m2P/m2P/m2P/m2P/m2P/m2O6e9e6e9e6e9e6e9e6e9e6e9e6e9f/m2P/m2P/
m2P/m2P/m2P/m2P/m2P/m2MAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD/
m2P/m2P/m2P/m2P/m2P/m2O6e9e6e9e6e9f/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2MAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD/m2P/m2P/m2P/m2P/m2P/
m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2MAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2MAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAD/m2P/m2P/m2P/m2P/m2MAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD/
AAB/8AAAH4AAAA+AAAAHgAAAA4AAAACAAAAAgAAAAIAAAACAAAAAgAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgAAAAMAAAADwAAAA+AAAA/wAAB//AAB//4AD
///AH///8H///////w==" rel="icon" type="image/x-icon" />
		</head>
		
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>				
				<br><img src = "toozhsu.github.io/img/0.jpeg"><br/>
				<br><br/>
				<br>

	        		
	        		<div class="layered-paper"; style="width:100px;">
				<li><a class="page-link" href="toozhsu.github.io/img/Tooz_CV_G.pdf">CV</a></a></li>
												   </div>
												   <br><li>🙋</li></br>

						 
	    		</ul>
			</nav>
			<p>
						 </p>
			
			<div class="trigger">
			<h2> ☺︎ </a></h2><br></br>
					     </div>
					    
<font face = "Courier" size = "3">Hailing from Taiwan, Yu-chuan 'Tooz' Hsu is a poject manager and a freelance translator/ interpreter based in 🌍💻. </p>
				When she's not working, she enjoys traveling, photography,
<div class="typewriter"; style="width:240px;"> <h1> <font face = "Courier" size = "3">and making gifs.<h1/></div>　<img src = "toozhsu.github.io/img/an.EGG.gif">
							      <p></p><p>🙃🙃🙃</p>
<a class="twitter-timeline" data-width="420" data-height="500" data-link-color="#2B7BB9" href="https://twitter.com/Tooztooz?ref_src=twsrc%5Etfw">🐤 by Tooztooz</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			<div class="container">
					      <p></p>
					     	<p></p>
					      <br /><br />
	
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:tooztooz@gmail.com">email</a></li>
	        		<li><a href="https://github.com/toozhsu">github.com/toozhsu</a></li>

									</ul>
			</footer>
		</body>
		  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-141279064-1"></script>
	<!-- link to main stylesheet -->
	</html>
