

<!DOCTYPE html>
	<html>		
		<head>
		<link href="data:image/x-icon;base64,AAABAAEAICAAAAEAGACoDAAAFgAAACgAAAAgAAAAQAAAAAEAGAAAAAAAqAwAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/
m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2MAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD/
m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/
m2P/m2P/m2P/m2MAAAAAAAAAAAAAAAAAAAAAAAD/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/
m2P/m2P/m2P/m2P/m2O6e9e6e9e6e9f/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2MAAAAA
AAAAAAAAAAAAAAD/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2O6e9e6e9e6e9e6e9e6e9e6e9e6
e9e6e9f/m2P/m2P/m2P/m2O6e9e6e9e6e9e6e9f/m2P/m2P/m2MAAAAAAAAAAAAAAAD/m2P/m2P/
m2P/m2P/m2O6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9f/m2P/m2P/m2P/m2O6
e9e6e9e6e9e6e9f/m2P/m2P/m2P/m2MAAAAAAAAAAAD/m2P/m2P/m2O6e9e6e9e6e9e6e9e6e9e6
e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9f/m2P/m2P/m2P/m2O6e9e6e9e6e9e6e9e6e9f/m2P/
m2P/m2P/m2P/m2MAAAD/m2P/m2P/m2O6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6
e9e6e9e6e9f/m2P/m2P/m2P/m2O6e9e6e9e6e9e6e9e6e9e6e9f/m2P/m2P/m2P/m2MAAAD/m2P/
m2P/m2O6e9e6e9e6e9e6e9cwvmowvmowvmq6e9e6e9e6e9e6e9e6e9e6e9e6e9f/m2P/m2P/m2O6
e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9f/m2P/m2P/m2MAAAD/m2P/m2P/m2O6e9e6e9e6e9e6e9cw
vmowvmowvmq6e9dulDdulDdQ5Zm6e9e6e9e6e9f/m2P/m2P/m2O6e9e6e9e6e9e6e9e6e9e6e9e6
e9e6e9e6e9f/m2P/m2MAAAD/m2P/m2P/m2O6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9dulDdulDdQ
5Zm6e9e6e9e6e9f/m2P/m2P/m2O6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9f/m2MAAAD/
m2P/m2P/m2O6e9dQ5ZlQ5ZlQ5Zm6e9e6e9e6e9e6e9dQ5ZlQ5ZlQ5Zm6e9e6e9e6e9f/m2P/m2P/
m2O6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9f/m2P/m2P/m2P/m2P/m2O6e9dulDdulDdQ
5Zm6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9f/m2P/m2P/m2O6e9e6e9e6e9e6e9e6e9e6
e9e6e9e6e9e6e9e6e9f/m2P/m2P/m2P/m2P/m2O6e9dulDdulDdQ5Zm6e9e6e9e6e9e6e9e6e9e6
e9e6e9e6e9e6e9f/m2P/m2P/m2P/m2P/m2O6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9f/m2P/m2P/
m2P/m2O6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9f/m2P/m2P/m2P/m2P/m2P/m2P/
m2P/m2P/m2P/m2O6e9e6e9e6e9e6e9e6e9e6e9e6e9f/m2P/m2P/m2P/m2O6e9e6e9e6e9e6e9e6
e9e6e9e6e9e6e9f/m2P/m2P/m2P/m2P/m2P/m2P/m2O6e9e6e9e6e9f/m2P/m2P/m2P/m2O6e9e6
e9e6e9e6e9e6e9e6e9f/m2P/m2P/m2P/m2O6e9e6e9e6e9e6e9f/m2P/m2P/m2P/m2P/m2P/m2P/
m2P/m2P/m2O6e9e6e9e6e9e6e9e6e9e6e9f/m2P/m2P/m2P/m2O6e9e6e9e6e9e6e9e6e9f/m2P/
m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2O6e9e6e9e6e9e6e9e6e9e6
e9e6e9e6e9e6e9f/m2P/m2P/m2P/m2O6e9e6e9e6e9e6e9f/m2P/m2P/m2P/m2P/m2P/m2P/m2P/
m2P/m2P/m2P/m2P/m2P/m2O6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9f/m2P/
m2P/m2P/m2O6e9e6e9e6e9f/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2O6e9e6e9e6e9e6e9e6
e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9f/m2P/m2P/m2P/m2P/m2P/
m2P/m2P/m2P/m2P/m2O6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6
e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9f/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2O6e9e6
e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6
e9e6e9e6e9e6e9e6e9f/m2P/m2P/m2P/m2P/m2P/m2P/m2O6e9e6e9e6e9e6e9e6e9e6e9e6e9e6
e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9f/m2P/
m2P/m2P/m2MAAAD/m2P/m2P/m2P/m2P/m2P/m2O6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6
e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9f/m2P/m2P/m2P/m2MAAAAAAAD/m2P/
m2P/m2P/m2P/m2O6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6
e9e6e9e6e9e6e9f/m2P/m2P/m2P/m2P/m2P/m2MAAAAAAAAAAAAAAAD/m2P/m2P/m2P/m2P/m2P/
m2O6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9e6e9f/m2P/m2P/m2P/m2P/
m2P/m2P/m2P/m2MAAAAAAAAAAAAAAAAAAAD/m2P/m2P/m2P/m2P/m2P/m2O6e9e6e9e6e9e6e9e6
e9e6e9e6e9e6e9e6e9e6e9e6e9f/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2MAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAD/m2P/m2P/m2P/m2P/m2P/m2O6e9e6e9e6e9e6e9e6e9e6e9e6e9f/m2P/m2P/
m2P/m2P/m2P/m2P/m2P/m2MAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD/
m2P/m2P/m2P/m2P/m2P/m2O6e9e6e9e6e9f/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2MAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD/m2P/m2P/m2P/m2P/m2P/
m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2MAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2P/m2MAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAD/m2P/m2P/m2P/m2P/m2MAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD/
AAB/8AAAH4AAAA+AAAAHgAAAA4AAAACAAAAAgAAAAIAAAACAAAAAgAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgAAAAMAAAADwAAAA+AAAA/wAAB//AAB//4AD
///AH///8H///////w==" rel="icon" type="image/x-icon" />
						    </link>	
		<meta charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta property="og:image" content="toozhsu.github.io/blob/master/img/tooz_icon.ico" />
		<meta property="og:title" content="tooz hsu" />
		<meta property="og:url" content="https://toozhsu.github.io" />

									

		<title>Tooz Hsu</title>
		
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
		</head>
		
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
<style>
    body {border-width:10px; border-style: inset; width:580px; height:1800px;}
</style>
		<body>

<button onclick="myFunction()" style="width:100px; height:40px">☾ dark mode</button>

<script>
function myFunction() {
   var element = document.body;
   element.classList.toggle("dark-mode");
}
</script>
								   
			<nav>
	    		<ul>				
				<br>
				<p style="text-align:center;">
				<img src="toozhsu.github.io/img/0.png" alt="tooz hsu" style="width:500px;height:500px;">
				</p><br/>

				<div class="layered-paper"; style="width:80px"; font face="Courier";>
									       
				<li><a class="page-link" href="toozhsu.github.io/img/Tooz_CV_G.pdf">CV</a></a></li>
												   </div>
												   <br>
				<li></li>　<img src = "toozhsu.github.io/img/an.EGG.gif"></br>

						 
	    		</ul>
			</nav>
			<p> </p>
			
			<div class="trigger">
			<h2> ☺︎ </a></h2>
					     </div>
					    
<font face = "Courier" size = "4" style = "text-align:left;">Hailing from Taiwan, Yu-chuan 'Tooz' Hsu is a project manager and a freelance translator/ interpreter based in 🌍💻. When she's not working, she enjoys traveling, photography,
<div class="typewriter"; style="width:240px;"> <h1> <font face = "Courier" size = "3">and making gifs.<h1/></div>
							      <p></p><p>🙃🙃🙃</p>

	
			{{ content }}
			
			</div><!-- /.container -->
			<footer style="text-align:center">
	    		<ul>
	        		<i class="fas fa-envelope"></i><li><a href="mailto:tooztooz@gmail.com">  email</a></li>
	        		<i class="fab fa-github"></i><li><a href="https://github.com/toozhsu">  github.com/toozhsu</a></li>

									</ul>

												     

			</footer>
												     
<br>										     
												     
<a class="twitter-timeline" data-width="420" data-height="500" data-link-color="#2B7BB9" href="https://twitter.com/Tooztooz?ref_src=twsrc%5Etfw">🐤 by Tooztooz</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<div class="container">

		      <p></p>
<a href="https://www.notion.so/reading-list-3c86dd8590954954bf70a4b47f545e2c">🏰 mind palace (lol)</a>
		      </body>
		  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-141279064-1"></script>
	<!-- link to main stylesheet -->
	</html>
